<%provide(:page_size,'large')%>
<%provide(:title,'See what people are posting')%>
<!-- Micropost feed-->
	
	<%= render 'shared/feed'%>
<% if signed_in?%>
<div id="sidebar">
	
	<!-- uhh put in the user page show action><section class="name"><%= render 'shared/user_info'%></section>-->
	
		<a id="submit_post" class="btn btn-custom2" href="/submit">post</a>
		<div class="divider"></div>
		<div class="subscribed_channels">
			<div class="header">Medchannels</div>
			<%if current_user.medchannels.any?%>
			<ul>
				<%current_user.medchannels.each do |medchannel|%>
				<li><span class="popularity" style="background-color:<%=popularity(medchannel)%>"></span><span class="name"><%=medchannel.name%></span><span class="data"><%=medchannel.subscribers.count%></span></li>
				<%end%>				
			</ul>
			<%end%>
		</div>
	</div>
	<%else%>
	<div class="welcome-message">
		<h2>Welcome to Meddler</h2>
	</div>
<%end%>
