<li class="comment_wrapper">
	
<div class="user_comment_image"><%=image_tag(comments.user.image_url,width: 25, height:25, title: comments.user.name)%><p><%=comments.user.name%></p></div>
<div id="<%=comments.id%>"class="comment" data-hide="<%=comments.hide?%>">
	<div id="whiteout"></div>
<%if @micropost.top_comment?(comments)%><div class="top-comment">Top Comment</div><%end%>

<p class="body"><%=parseShit(comments.body)%></p>

		<span class="med_container">
		<span class="meds"><%=comments.meds%></span>
		</span>
		<span class="comments"><span class="number"><%=comments.children.size%></span></span>
		<span class="timestamp">Posted <%=time_ago_in_words(comments.created_at)%> ago.</span>
		<div style="clear: both"></div>	
</div>
<div style="clear: both"></div>
</li>

