<li class="comment_wrapper">
	
<div class="user_comment_image"><%=image_tag(current_user.image_url,width: 25, height:25, title: current_user.name)%></div>
<div class="comment">

		<div class="title"><%if comments.id == @micropost.comment_threads.first.id%><div class="top-comment">Top Comment</div><%end%></div>
		<div class="content"><p class="body"><%= comments.body%></p></div>

		<span class="med_container">
		<span class="meds"><%=comments.meds%></span>
		</span>
		<span class="repost"><span class="number">3</span></span>
		<span class="comments"><span class="number"><%=comments.children.size%></span></span>
		<!--<div class="comment_reply">
			<span class="replies"><%=comments.children.size%></span>
		</div>-->
</div>
</li>

