<li id="<%=comments.id%>" data-hide="<%=comments.hide?%>"class="comment_wrapper">
	
<div class="user_comment_image"><%=image_tag(comments.user.image_url,width: 30, height:30, title: comments.user.name)%>
</div><p class="name"><%=comments.user.name%></p>


<p class="body"><%=parseShit(comments.body)%></p>

		<span class="med_container"></span>
		<span class="meds"><%=comments.meds%></span>
		<span class="commentz"></span>
		<span class="number"><%=comments.children.size%></span>
		<span class="timestamp">Posted <%=time_ago_in_words(comments.created_at)%> ago.</span>
</li>

