<% provide(:title, @user.name)%>
<%provide(:page_size, "large2")%>
<div class="other_user">
<div class="other_user_info">
	<span class="user_preview"><%= image_tag(@user.image_url, :width => 45, :height => 45, :title => @user.name)%></span>
			<h1>
				<%= @user.name%>
			</h1>
			<section class="rank">rank: <%=calculateRank(@user)%></section>
			<div class="timestamp">User for: <%=time_ago_in_words(@user.created_at)%></div>
			<%= render 'shared/stats'%>
		<%= render 'follow_form' if signed_in?%>
		</div>
		<% if @user.microposts.any?%>
		 <%= render partial:'shared/feed',:locals => { :@feed_items => @microposts, :@controller=>"users_show", :@medfeed_height=>@medfeed_height}%>

		<%else%>
		<div class="nothing">*Crickets*</div>
		<% end %>
		
		<div class="more_info">
		<div class="followers">
			<div class="header">
				Following
				<div class="after"></div>
				<div class="before"></div>
			</div>
			<%@followeds.each do |user|%>
			<div class="users">
				<div class="img">
				<%=link_to image_tag(user.image_url, :width => 25, :height => 25, :title => user.name), site('/users/'+user.name)%>
				</div>
				<div class="info">
				<%=link_to user.name, site('/users/'+user.name)%>
				</div>
			</div>
			<%end%>
		</div>
		<div class="followeds">
			<div class="header">Followers
				<div class="after"></div>
				<div class="before"></div>
			</div>
			<%@followers.each do |user|%>
			<div class="users">
			<div class="img">
			<%=link_to image_tag(user.image_url, :width => 25, :height => 25, :title => user.name), site('/users/'+user.name)%>
			</div>
			<div class="info">
			<%=link_to user.name, site('/users/'+user.name)%>
			</div>
			</div>
			<%end%>
			
		</div>
		</div>
		<!--<div class="medchannels">
			<div class="header">meddals
				<div class="after"></div>
				<div class="before"></div>
			</div>
			uhh medchannels
		</div>-->
		<div class="meddals">
		
		</div>
</div>
