<%provide(:medfeed_height,if @controller!="users_show" then @medfeed_height.to_s else "nah" end)%>
<div class="medfeed_box <%=@controller%> " style="height:<%=@medfeed_height.to_s+'px'%>;">
		<div class="header">
			<span class="text"><%=@name%></span>
			<%unless @controller=="users_show"%>
			<a class="hnav_left" rel="<%=prev_one(@name,@orig,true)%>" href="<%=prev_one(@name,@orig)%>"><i class="icon-white icon-chevron-left"></i></a>
			<a class="hnav_right" rel="<%=next_one(@name,@orig,true)%>" href="<%=next_one(@name,@orig)%>"><i class="icon-white icon-chevron-right"></i></a>
			<%end%>
</div>
<div class="feed_helper hide"><!-- give user options to bring it out if they want-->
	<div class="options">
	<span class="btn btn-small btn-custom"><i class="icon-random"></i>random</span>
	<span class="btn btn-small btn-custom"><i class="icon-pause"></i>stop feed</span>
	</div>
	<div class="close">X</div>
</div>
<%=image_tag "ajax-loader.gif",width:25,height:25, class: "hide paginating_gif"%>
<div class="medfeed_container">
<% if @feed_items.any?%>
		<%@feed_items.each do |feed_item|%>

		<%= render partial: 'shared/feed_item',:locals => { :feed_item => feed_item }%>

		<%end%>
		<%else%>
		<div class="nothing">*Crickets*</div>
		<%end%>
	</div>
	<div style="clear:both"></div>
	<%= will_paginate @feed_items%>
</div>
