
<%if feed_item.medtype=="link_post"%>

<div id="<%= feed_item.id%>" class="<%=feed_item.medtype%> post" data-signed-in="<%=signed_in?%>" >
	<span class="user_image"><%=link_to image_tag(feed_item.user.image_url,width: 25, height:25, title: feed_item.user.name,alt:"user image"),site('/users/'+feed_item.user.name)%><div><%=feed_item.user.name%></div></span>

	<span class="preview"><%=link_to image_tag(feed_item.preview_url,width: 65, height:85),feed_item.urls%></span>

	<span class="title"><%if feed_item.title.size>40%><%=link_to( feed_item.title[0..40]+"...", feed_item)%><%else%><%=link_to( feed_item.title, feed_item)%><%end%><% if current_user?(feed_item.user)%><%=image_tag("options.png",width: 25, height:25,alt:"user options", class: "user-options")%><span class="settings hide">
		<i class="icon-white icon-wrench icon-2x"></i>
			<i class="icon-white icon-remove icon-2x"></i>
		</span>
		<%else%>
		<div><!--user settings--></div>
		</span>
		<%end%>
	</span>
	<span class="content hide"><%= feed_item.content%></span>
		<div class="options"><a  rel="comments" href="<%='http://'+request.host_with_port+'/microposts/'+feed_item.id.to_s%>" title="comment on it?" class="comments"><div class="number"><%=feed_item.comment_threads.count%></div></a>
		<div class="med_container <%= if signed_in? then current_user.have_I_liked_or_not?(feed_item,'micropost') end%>" title="like it?"id="<%=feed_item.id%>">
		<span class="meds"><%=feed_item.meds%></span>
		</div>
		<div class="repost" title="repost it?"><span class="number"><%=feed_item.reposters.count%></span></div></div>
		<span class="onav_left hide"><i class="icon-white icon-chevron-left "></i></span>
		<span class="onav_right hide"><i class="icon-white icon-chevron-right "></i></span>
		<ul class="channels">
		<%feed_item.channels.each do |channel|%>
		<li class="channel-cont"><a rel="<%=channel%>"href="<%='/medchannel/'+channel.name%>"class="medchannel" style="background-color:<%=popularity(channel)%>"data-description="<%=channel.desc(1)%>"><%=channel.name%></a></li>
		<%end%>
		</ul>
		<span class="timestamp">Posted <%=time_ago_in_words(feed_item.created_at)%> ago.</span>		
</div>
<%elsif feed_item.medtype=="image_post"%>
<div id="<%= feed_item.id%>" class="<%=feed_item.medtype%> post" >
	<span class="user_image"><%=link_to image_tag(feed_item.user.image_url,width: 25, height:25, title: feed_item.user.name,alt:"user image"),site('/users/'+feed_item.user.name)%><div><%=feed_item.user.name%></div></span>

	<div class="preview_image" style="display:inline-block"><%=image_tag(feed_item.image_url(:thumb)) %></div>

	<span class="title"><%if feed_item.title.size>40%><%=link_to( feed_item.title[0..40]+"...", feed_item)%><%else%><%=link_to( feed_item.title, feed_item)%><%end%><%if current_user?(feed_item.user)%><%=image_tag("options.png",width: 25, height:25, alt:"user options",class: "user-options")%><span class="settings hide ">
		<i class="icon-white icon-wrench icon-2x"></i>
			<i class="icon-white icon-remove icon-2x"></i>
		</span>
		<%else%>
		<div><!--user settings--></div>
		</span>
		<%end%>
	</span>
		<a  rel="comments" href="<%='http://'+request.host_with_port+'/microposts/'+feed_item.id.to_s%>" title="comment on it?" class="comments"><div class="number"><%=feed_item.comment_threads.count%></div></a>
		<div class="med_container <%= if signed_in? then current_user.have_I_liked_or_not?(feed_item,'micropost') end%>" title="like it?"id="<%=feed_item.id%>">
		<span class="meds"><%=feed_item.meds%></span>
		</div>
		<div class="repost" title="repost it?"><span class="number"><%=feed_item.reposters.count%></span></div>
		<ul class="channels">
		<%feed_item.channels.each do |channel|%>
		<li class="channel-cont"><a rel="<%=channel%>" href="<%='/medchannel/'+channel.name%>"class="medchannel" style="background-color:<%=popularity(channel)%>"data-description="<%=channel.desc(1)%>"><%=channel.name%></a></li>
		<%end%>
		</ul>
		<span class="timestamp">Posted <%=time_ago_in_words(feed_item.created_at)%> ago.</span>		
</div>
<%elsif feed_item.medtype=="self_post"%>
<div id="<%= feed_item.id%>" class="<%=feed_item.medtype%> post" >
	<span class="user_image"><%=link_to image_tag(feed_item.user.image_url,width: 25, height:25, title: feed_item.user.name,alt:"user image"),site('/users/'+feed_item.user.name)%><div><%=feed_item.user.name%></div></span>

	<span class="title"><%=link_to "", feed_item%><% if current_user?(feed_item.user)%><%=image_tag("options.png",width: 25, height:25, alt:"user options",class: "user-options")%><span class="settings hide">
		<i class="icon-white icon-wrench icon-2x"></i>
			<i class="icon-white icon-remove icon-2x"></i>
		</span>
		<%else%>
		<div><!--user settings--></div>
		<%end%>
	</span>
	<p class="content "><%=parseShit(feed_item.content)%></p>
		<div class="options"><a rel="comments" href="<%='http://'+request.host_with_port+'/microposts/'+feed_item.id.to_s%>" title="comment on it?" class="comments"><div class="number"><%=feed_item.comment_threads.count%></div></a>
		<div class="med_container <%= if signed_in? then current_user.have_I_liked_or_not?(feed_item,'micropost') end%>" title="like it?"id="<%=feed_item.id%>">
		<span class="meds"><%=feed_item.meds%></span>
		</div>
		<div class="repost" title="repost it?"><span class="number"><%=feed_item.reposters.count%></span></div></div>
		<ul class="channels">
		<%feed_item.channels.each do |channel|%>
		<li class="channel-cont"><a rel="<%=channel%>" href="<%='/medchannel/'+channel.name%>"class="medchannel" style="background-color:<%=popularity(channel)%>"data-description="<%=channel.desc(1)%>"><%=channel.name%></a></li>
		<%end%>
		</ul>
		<span class="timestamp">Posted <%=time_ago_in_words(feed_item.created_at)%> ago.</span>	
		<div style="clear:both"></div>
</div>
<%elsif feed_item.medtype=="link_video_post"%>
<%end%>
