<%provide(:title,'Submit your post')%>
<section class="micropost_form alone">
<%= form_for(@micropost) do |f|%>
	<div class="field">
		<%= render 'shared/error_messages', object: f.object%>
		<h1 id="micropost_form_upload_title">Object Post</h1>
		<%=f.label :title%>
		<%=f.text_field :title,class:"form_title",id:"upload-title",autocomplete:"off"%>
		<%=f.hidden_field :medtype, :value=>"object_post"%>
		<%=f.label :medchannel%>
		<%=f.text_field :medchannel%>
	</div>
		<div class="btns">
		<%= f.submit "Submit",class: "btn btn-large btn-primary"%>
		<%= link_to "self post",submit2_path,class:"btn btn-large btn-success link_post2"%>
		<%= link_to "link post",submit_path,class:"btn btn-large btn-warning link_post"%>
		</div>
		<%end%>
</section>