<%provide(:title, @micropost.title)%>
<%provide(:page_size, "large2")%>

<div id="<%=@micropost.id%>"class="micropost_show <%=@micropost.medtype%>">

	<div class="author"><%= link_to image_tag(@micropost.user.image_url , :width => 35, :height => 35, :title => @micropost.user.name), site('/users/'+@micropost.user.name)%></div>
<%if @micropost.medtype=="self_post"%>

	<span class="title <%=if signed_in? then current_user?(@micropost.user) end%>"><% if current_user?(@micropost.user)%><%=image_tag("options.png",width: 25, height:25,alt:"user options", class: "user-options")%> <span class="settings hide">
<i class="icon-white icon-wrench icon-2x"></i>
                        <i class="icon-white icon-remove icon-2x"></i>	<%end%></span></span>

	<p class="content" rel="content"><%=parseShit(@micropost.content)%></p>
		<span rel="comments"class="comments"><div class="number"><%=@micropost.comment_threads.count%></div></span>
		<span class="med_container <%= if signed_in? then current_user.have_I_liked_or_not?(@micropost,'micropost') end%>" id="<%=@micropost.id%>">
		<span class="meds"><%=@micropost.meds%></span>
		</span>
		<span class="repost"><span class="number"><%=@micropost.reposters.count%></span></span>
		<ul class="channels">
		<%@micropost.channels.each do |channel|%>
		<li class="channel-cont"><a rel="<%=channel.name%>"href="<%='/medchannel/'+channel.name%>"class="medchannel" style="background-color:<%=popularity(channel)%>"data-description="<%=channel.desc(1)%>"><%=channel.name%></a></li>
		<%end%>
		</ul>
		<span class="timestamp">Posted <%=time_ago_in_words(@micropost.created_at)%> ago.</span>
		<div style="clear: both"></div>	
<%elsif @micropost.medtype=="image_post"%>
	<div class="preview_image"><%=link_to image_tag(@micropost.image_url(:thumb))%></div>

	<span class="title <%=if signed_in? then current_user?(@micropost.user) end%>"><%=link_to @micropost.title, @micropost%><% if current_user?(@micropost.user)%><%=image_tag("options.png",width: 25, height:25,alt:"user options", class: "user-options")%> <span class="settings hide">
<i class="icon-white icon-wrench icon-2x"></i>
                        <i class="icon-white icon-remove icon-2x"></i>	<%end%></span></span>
	
		<div class="options"><span rel="comments" class="comments"><div class="number"><%=@micropost.comment_threads.count%></div></span>
		<span class="med_container <%= if signed_in? then current_user.have_I_liked_or_not?(@micropost,'micropost') end%>" id="<%=@micropost.id%>">
		<span class="meds"><%=@micropost.meds%></span>
		</span>
		<span class="repost"><span class="number"><%=@micropost.reposters.count%></span></span></div>
		<div style="clear:both"></div>
		<ul class="channels">
		<%@micropost.channels.each do |channel|%>
		<li class="channel-cont"><a rel="<%=channel.name%>"href="<%='/medchannel/'+channel.name%>"class="medchannel" style="background-color:<%=popularity(channel)%>"data-description="<%=channel.desc(1)%>"><%=channel.name%></a></li>
		<%end%>
		</ul>
		<span class="timestamp">Posted <%=time_ago_in_words(@micropost.created_at)%> ago.</span>
<%elsif @micropost.medtype=="link_post"%>
	<span class="preview"><%=link_to image_tag(@micropost.preview_url,width: 65, height:85),@micropost.urls%></span>

	<span class="title <%=if signed_in? then current_user?(@micropost.user) end%>"><%=link_to @micropost.title, @micropost%><% if current_user?(@micropost.user)%><%=image_tag("options.png",width: 25, height:25,alt:"user options", class: "user-options")%> <span class="settings hide">
 <i class="icon-white icon-wrench icon-2x"></i>
                        <i class="icon-white icon-remove icon-2x"></i>
		<%end%></span></span>
	
		<span rel="comments"class="comments"><div class="number"><%=@micropost.comment_threads.count%></div></span>
		<span class="med_container <%= if signed_in? then current_user.have_I_liked_or_not?(@micropost,'micropost') end%>" id="<%=@micropost.id%>">
		<span class="meds"><%=@micropost.meds%></span>
		</span>
		<span class="repost"><span class="number"><%=@micropost.reposters.count%></span></span>
		<ul class="channels">
		<%@micropost.channels.each do |channel|%>
		<li class="channel-cont"><a rel="<%=channel.name%>"href="<%='/medchannel/'+channel.name%>"class="medchannel" style="background-color:<%=popularity(channel)%>"data-description="<%=channel.desc(1)%>"><%=channel.name%></a></li>
		<%end%>
		</ul>
		<span class="timestamp">Posted <%=time_ago_in_words(@micropost.created_at)%> ago.</span>
			
<%end%>
</div>

<div class="medchannel-info"></div>
<div class="related"></div>
<a href="<%=if @next.nil? then "hide"else '/posts/'+@next.id.to_s+'/'+ if !@next.title.nil? then urlify(@next.title) else 'medpost' end end%>" class="mnav_right"><i class="icon-white icon-chevron-right"></i></a>
<a href="<%=if @prev.nil? then "hide"else '/posts/'+@prev.id.to_s+'/'+ if !@prev.title.nil? then urlify(@prev.title) else 'medpost' end end%>" class="mnav_left"><i class="icon-white icon-chevron-left"></i></a>

<div class="mid_page <%=@micropost.medtype%>">
	<div class="comment_form_container <%='custom-disabled' unless user_ready?%>">
			<%if signed_in?%>
				<%=render 'comments/form'%>
			<%else%>
			<div class="signin-notice"><h2>You need to signin to comment <a href="<%=signin_path%>" class="signin"> sign in</a><h2></div>
			<%end%>
	</div>
	<div class="comment_container">
		<div class="header"></div>
		<div class="comments_helper"></div>
		<%if @comments.any?%>
		<div class="added-info"><div class="meddals"><div><%= image_tag("user_images/topcomment.png",width:55, height:55,:data=>{desc:"awarded to those who are on top"})%><span><%=@micropost.top_comment.user.name%></span></div>
		<div><%=image_tag("user_images/mostreplied.png",width:55, height:55,:data=>{desc:"awarded to those who garner the most reponses from their peers"})%><span><%=@micropost.most_replied.user.name%></span></div></div>
		</div>
			<ol class="comments">
				<%= render partial: 'comments/comments', collection: @comments%>
			</ol>
			<%= will_paginate @comments%>
		<%else%>
			<div class="nothing">*Crickets*</div>
		<%end%>
	</div>
</div>
