<header class="navbar navbar-fixed-top">
 <div class="navbar-inner">
	<div class="container">
		<%= image_tag("sloth.png", :alt => "home image", :width => 45, :height => 65, class: "logo sloth")%>
	<a href="<%=root_path%>" class="logo font">Meddller</a>
	<nav>
	<ul class="nav pull-right">
	<li><%= link_to "Search", '#',id:"search" %></li>
	<li><%= link_to "Help", help_path %></li>
	<%if signed_in?%>
	<li><%= link_to "Users", site('/GodCommands/'+'index_that_shit') if current_user?(User.find_by_name("fag"))%></li>
	<li id="fat-menu" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag(current_user.image_url, :width => 25, :height => 25)%><span class="huser"><%=current_user.name%></span> <b class="caret" style="color:#000000;"></b></a>

			<ul class="dropdown-menu">
				<li><%= link_to "Profile", site('/users/'+current_user.name)%></li>
				<li><%= link_to "Settings", site('/users/'+current_user.id.to_s+'/edit')%></li>
				<li class="divider"></li>
				<li><%= link_to "Sign out", signout_path, method: "delete"%></li>
			</ul>
	</li>
	<%else%>
	<li><%= link_to "Sign in", signin_path %></li>
	<%end%>
	</ul>
	 </nav>
	        </div>
	      </div>
	</header>
