<!DOCTYPE html>
<html>
<head>
  <title><%=yield(:title)%></title>

  <%= stylesheet_link_tag    "custom", media: "all" %>
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!--[if lt IE 8]>
<%= render 'layouts/shim'%>
<![endif]-->
<%stylesheet_link_tag "font-awesome-ie7.min.css", media: "all" %>
</head>
<body class="<%=yield(:page_size)%> <%=yield(:background)%>" >
<%=render 'layouts/header'%>
<div class="container">
	<% flash.each do |key, value|%>
	<div class= "alert alert-<%= key%>"><%= value%></div>
	<%end%>
<%= yield %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39724353-1', 'meddller.com');
  ga('send', 'pageview');

</script>
<%= javascript_include_tag "static_pages" %>

</div>
<%= debug(params) if Rails.env.development?%>
<%= render 'layouts/footer'%>
</body>
</html>
